<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>YelpCamp</title>

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <link rel="stylesheet" href="/stylesheets/home.css">
    <link rel="stylesheet" href="/stylesheets/app.css">
</head>



<body class="d-flex flex-column text-center text-white bg-dark">
    <%- include('./partials/navbar') %>
        <main class="px-3 mt-auto cover-container">
            <h1>YelpCamp</h1>
            <p class="lead">
                Welcome to YelpCamp <br>
                Jump right in and explore our many campgrounds. <br>
                Feel free to share some of your own!
            </p>
            <a class="btn btn-outline-warning btn-lg font-weight-bold" href="/campgrounds">View Campgrounds</a>
        </main>

        <footer class="mt-auto text-white-50 cover-container">
            <p>&copy; 2020 YelpCamp</p>
        </footer>

        <!-- Bootstrap JavaScript -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ"
            crossorigin="anonymous"></script>
</body>

</html>